body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-family: 'Garamond', serif;
    background-color: #2f2f2f;
    color: white;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .page {
    padding: 6% 5% 4%; 
    margin: 10px 70px 0; 
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #252325;
    box-shadow: 0 2px 4px rgba(139, 141, 141, 0.5); 
  }
  .pageFlex {
    display: flex;
  }
  .pageFlex .child{
    flex: 1;
  }
  .dividedPage {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 1% 5%;
    border: 1px solid #444;
  }
  .borderPage {
    display: inline-block;
    vertical-align: top;
    padding: 1% 5%;
    border: 1px solid #444;
  }

  .gif-container{
    width: 60%;
    height: 10%;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2f2f2f;
    border-bottom: 3px solid #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.5);
  }
  
  .nav_item{
    float: left;
    margin-right: 10px;
    list-style: none;
  }
  
  .nav_item {
    display: block;
    color: #ddd;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  
  .nav_item:hover {
    background-color: #1f1f1f;
    color: #fff;
  }
  .nav_item_r {
    display: block;
    color: #ddd; 
    float: right;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  .nav_item_r:hover{
    background-color: #1f1f1f; 
    color: #fff;
  }
  
  button {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #2d2e30;
    border: none;
    border-radius: 4px;
    font-size: 1em; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: #4f5357; 
    color: #fff
}




#inputPoints {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

#inputPoints:focus {
  outline: none;
  background-color: #e8e8e8;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #4d4d4d;
  border: 1px solid white;
  z-index: 1000;
}

.green-text {
  color: rgb(6, 179, 6);
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: left;
}

table th, table td {
  border: 1px solid black;
  padding: 2px 6px;
  
  font-size: 1.3rem;
}
#inputText {
  width: 500px; 
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}